@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#15161E];
  }
}

@layer utilities {
  .drag {
    -webkit-app-region: drag;
  }

  .nodrag {
    -webkit-app-region: no-drag;
  }

  @keyframes enter {
    0% {
      transform: scale(0.9);
      opacity: 0;
    }

    to {
      transform: scale(1);
      opacity: 1;
    }
  }

  .animate-enter {
    animation: enter 0.2s ease-out;
  }

  @keyframes leave {
    0% {
      transform: scale(1);
      opacity: 1;
    }

    to {
      transform: scale(0.9);
      opacity: 0;
    }
  }

  .animate-leave {
    animation: leave 0.15s ease-in forwards;
  }
}
